@import url(__avatar/profile__avatar.css);
@import url(__info/profile__info.css);
@import url(__header/profile__header.css);
@import url(__heading/profile__heading.css);
@import url(__caption/profile__caption.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__add-button/profile__add-button.css);

.profile {
  display: flex;
  margin: 0 auto 50px;
  align-items: center;
}

@media screen and (max-width: 881px) {
  .profile  {
    flex-direction: column;
    text-align: center;
    margin-bottom: 39px;
  }
}