.popup__form {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin: 0 12px;
  padding: 34px 36px 36px;
  flex-basis: 430px;
}

@media screen and (max-width: 430px) {
  .popup__form {
    padding: 34px 26px 36px;
  }
}